@font-face {
	font-family: proxima;
	src: url(ProximaNovaAltRegular.otf);
}
@font-face {
	font-family: proxima-light;
	src: url(ProximaNovaThin.otf);
}
body, html {
	width: 100% !important;
	height: auto;
	overflow-x: hidden;
	font-family: proxima;
	padding: 0px;
	margin: 0px;
}
.slide-images {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.slide-img-item {
	height: 80vh;
	width: 75%;
	background: #f2f2f2;
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
}
.slide-img-item > p {
	margin: 0px;
	padding: 45vh 30px;
	text-transform: uppercase;
	max-width: 50%;
	margin-left: 20px;
	background: transparent;
	font-size: 5rem;
	font-weight: 500;
	color: #ffffff;
	font-family: proxima-light;
	word-wrap: all;
}
#img-item1 {
	background-image: url(body1.jpg);
}
#img-item2 {
	margin-left: 75%; 
	margin-top: -80vh;
	background-image: url(body2.jpg);
}