@font-face {
	font-family: proxima;
	src: url(ProximaNova-Regular.otf);
}
@font-face {
	font-family: proxima-light;
	src: url(ProximaNovaThin.otf);
}
.nav-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgb(255, 255, 255) !important;
	width: 100%;
	height: 12%;
	overflow: hidden;
	z-index: 999;
}
.nav-logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20%;
	height: 100%;
	background: green;
	border: 0px solid;
}
.nav-logo > p {
	font-family: proxima-light;
	color: #ffffff;
	text-align: center;
	word-wrap: all;
	font-size: 1.65rem;
	text-transform: uppercase;
}
.nav-main-links {
	position: absolute;
	top: 0px;
	left: 20%;
	background: transparent;
	width: 45%;
	height: 100%;
	padding: 0px;
}
.nav-left-links {
	position: absolute;
	top: 0px;
	left: 65%;
	background: transparent;
	height: 100%;
	width: 35%;
	border: 0px solid;
}
.main-links, .left-links {
	list-style-type: none;
	margin-top: 30px;
	font-size: 1.5em;
	font-family: proxima;
}
.left-links {
	text-align: right;
}
.main-links>li, .left-links>li {
	display: inline;
	margin-right: 20px;
}
.main-links>li>a, .left-links>li>a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	border: 0px solid rgb(0, 0, 0);
	transition: all 0.2s ease;
}
.active {
	color: green !important;
}
.main-links>li>a:hover, .left-links>li>a:hover {
	border-bottom-width: 1px;
}
@media only screen and (max-width:1025px) {
	.nav-main-links {
		font-size: 1rem;
	}
	.nav-bar {
		height: 15%;
	}
	.nav-logo {
		width: 50%;
		height: 50%;
	}
	.nav-logo > p {
		font-size: 2rem;
	}
	.left-links {
		text-align: left;
	}
	.left-links > li > a {
		color: #ffffff;
	}
	.nav-left-links {
		left: 50%;
		width: 50%;
		height: 50%;
		background: green;
		color: #ffffff;
	}
	.nav-main-links {
		top: 50%;
		left: 0px;
		width: 100%;
		height: 50%;
		text-align: center;
	}
}
@media only screen and (max-width:769px) {
	.nav-left-links {
		font-size: 1rem;
	}
	.nav-main-links {
		font-size: 1rem;
	}
	.nav-logo {
		width: 40%;
		height: 50%;
	}
	.nav-logo > p {
		font-size: 1.5rem;
	}
	.nav-left-links {
		left: 40%;
		width: 60%;
		height: 50%;
		top: 0px;
	}
	.nav-main-links {
		top: 50%;
		left: 0px;
		width: 100%;
		height: 50%;
	}
}
@media only screen and (max-width:415px) {
	.nav-left-links {
		font-size: 0.6em;
	}
	.nav-main-links {
		font-size: 0.6em;
	}
	.left-links {
		margin-top: 15px;
		padding: 0px;
		text-align: right;
	}
	.main-links {
		margin-top: 18px;
	}
	.nav-logo > p {
		font-size: 1rem;
	}
}
@media only screen and (max-width: 376px) {
	.nav-left-links {
		font-size: 0.5rem;
	}
}
@media only screen and (max-width:321px) {
	.nav-logo {
		width: 35%;
	}
	.nav-logo > p {
		font-size: 0.8rem;
	}
	.nav-left-links {
		left: 35%;
		width: 65%;
	}
	.nav-left-links {
		font-size: 0.5em;
	}
	.nav-main-links {
		font-size: 0.5em;
	}
	.left-links>li {
		margin-right: 5px;
	}
	.main-links, .left-links {
		margin-top: 10px;
		padding: 0px;
	}
}