.rect {
	box-shadow: 0px 0px 4px 0px rgb(200, 200, 200);
	width: 200px;
	height: 200px;
	border: 0px solid;
}
#partners {
	margin-top: 7.5%;
}
.row {
	margin-bottom: 30px;
	text-align: center;
}
.col {
	padding: 2% 2%;
	text-align: center;
	float: auto;
	display: inline;
}